<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Autour</title>
        <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <!--<h1>{{ title }}</h1>
        <p>Testing {{ test }}</p>-->
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                        <h3 class="masthead-brand">autour</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        <h1 class="cover-heading">GET ME OUT OF HERE!</h1>
                        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                        <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Learn more</a>
                        </p>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Created by <a href="https://ece.uwaterloo.ca/~taamit/">Tanvir Alam Amit</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
