<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Autour</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald'>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css" />
    </head>
    <body>
        
        <nav class="nav-wrapper">
            <div class="container">
                <a href="/" class="">autour</a>
                <a href="#" class="navbar-right">LOGIN WITH FACEBOOK</a>
            </div>
        </nav>
        
        <div id="main" class="container">
            <div class="row">
                <h1>Give us your budget and we'll tell you where you can fly to!</h1>
            </div>
            <div id="form" class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <input type="text" class="input-field" placeholder="FLYING FROM">
                </div>
                <div class="form-group">
                    <input type="text" id="departDate" class="input-field datepicker" placeholder="DEPARTURE DATE">
                </div>
                <div class="form-group">
                    <input type="text" id="returnDate" class="input-field datepicker" placeholder="RETURN DATE">
                </div>
                <div class="form-group">
                    <input type="text" class="input-field" placeholder="BUDGET">
                </div>
                <button>SEARCH</button>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
        <script>
            $(function() {
                $('#departDate').datepicker({
                    autoclose: true,
                    startDate: new Date(),
                    orientation: "bottom right"
                }).on('changeDate', function(e) {
                    $('#returnDate').datepicker({ 
                        autoclose: true,
                        orientation: "bottom right"
                    })
                    .datepicker('setStartDate', e.date)
                    .focus();
                });
                
                $('#returnDate').datepicker({ 
                    autoclose: true,
                    startDate: new Date(),
                    orientation: "bottom right"
                });
            });
        </script>
    </body>
</html>
