html {
    height: 100%;
    /*background: no-repeat center center fixed;*/
    background: url('/images/scotland.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    height: 100%;
    background-color: transparent !important;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
}

.nav-wrapper {
    background-color: transparent !important;
    line-height: 64px;
    color: #fff;
}

.nav-wrapper a {
    color: #fff;
}

.navbar-right {
    font-size: 14px;
}

#header {
    text-align: center;
}

h1 {
    text-align: center;
}

#form {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.input-field {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
}

/*.input-field::-webkit-input-placeholder {
    color: #fff;
}*/

.input-field:-moz-placeholder {
    color: #fff;
}

.input-field::-moz-placeholder {
    color: #fff;
}

.input-field:-ms-input-placeholder {
    color: #fff;
}

button {
    display: block;
    width: 100%;
    color: #333;
}

#main {
    margin-bottom: 0;
    margin-top: 10vh;
    text-align: center;
}

select option {
    text-align: center;
}

.dropdown-menu {
    color: #333;
}

#results {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5vh;
}