html {
    height: 100%;
    background: no-repeat center center fixed;
    background: url('/images/scotland.jpg');
    background-size: cover;
}

body {
    height: 100%;
    background-color: transparent !important;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.nav-wrapper {
    background-color: transparent !important;
    line-height: 64px;
    color: #fff;
}

.nav-wrapper a {
    color: #fff;
}

.navbar-right {
    font-size: 14px;
}

.input-field {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
}

.input-field::-webkit-input-placeholder {
    color: #fff;
}

.input-field:-moz-placeholder {
    color: #fff;
}

.input-field::-moz-placeholder {
    color: #fff;
}

.input-field:-ms-input-placeholder {
    color: #fff;
}

button {
    display: block;
    width: 100%;
    color: #333;
}

#main {
    margin-bottom: 0;
    margin-top: 20vh;
}

.vertical-center {
    text-align: center;
    min-height: 100%;
    min-height: 100vh;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}