html {
    height: 100%;
    /*background: no-repeat center center fixed;*/
    background: url('/images/scotland.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    height: 100%;
    background-color: transparent !important;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
}

.nav-wrapper {
    background-color: transparent !important;
    line-height: 64px;
    color: #fff;
}

.nav-wrapper a {
    color: #fff;
}

.navbar-right {
    font-size: 14px;
}

#header {
    text-align: center;
}

h1 {
    text-align: center;
}

#form {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
}

.form-group {
    margin-bottom: 0;
}

.input-field {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
}

md-input-container {
    padding-bottom: 0 !important;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

md-input-container label,   
md-input-container .md-placeholder {
    color: #999 !important;
    text-align: center;
}

md-input-container .md-input {
    text-align: center;
    color: rgba(255,255,255,0.87);
    border-color: #999;
}
/*.input-field::-webkit-input-placeholder {
    color: #fff;
}*/

.input-field:-moz-placeholder {
    color: #fff;
}

.input-field::-moz-placeholder {
    color: #fff;
}

.input-field:-ms-input-placeholder {
    color: #fff;
}

.datepicker {
    cursor: pointer;
}

.glyphicon-calendar {
    z-index: -1;
    position: absolute;
    right: 5px;
}

button {
    display: block;
    width: 100%;
    color: #333;
}

#main {
    margin-bottom: 0;
    margin-top: 10vh;
    text-align: center;
}

select option {
    text-align: center;
}

.dropdown-menu {
    color: #333;
}

#results {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5vh;
}